@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebf5fd;
  background-size: 500% 500%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0px 0px 10px rgb(40, 248, 161);
  }
  33% {
    box-shadow: 0px 0px 20px rgb(24, 228, 255);
  }
  66% {
    box-shadow: 0px 0px 20px rgb(50, 115, 255);
  }
  100% {
    box-shadow: 0px 0px 10px rgb(40, 248, 161);
  }
}

.support-container {
  background: #fafafa;
  padding: 40px;
  border-radius: 30px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  animation: shadowAnimation 3s infinite;
}

/* Estilizando container-primary */
.container-primary {
  background-color: #037483;
  color: #fff;
  font-size: 14px;
  height: 400px;
  padding: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 10px 20px;
  max-width: 340px;
  position: absolute;
  top: 100px;
  left: 289px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os elementos */
}

/* Estilizando o título principal */
h1 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Estilizando subtítulo */
h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Estilizando os parágrafos */
p {
  color: #b3e8ff;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}

.right-section {
  max-width: 50%;
  flex-grow: 1;
}

.input-group {
  margin-bottom: 35px;
  text-align: left;
}

.input-group label {
  font-size: 15px;
  color: #555;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: rgb(3, 187, 194);
}

textarea {
  resize: none;
  height: 110px;
}

.submit-btn {
  background-color: #1f5369;
  color: #fff;
  border: none;
  padding: 14px 100px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.submit-btn:hover {
  background-color: #058b92;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
