@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    135deg,
    #00bcd4,
    #1de9b6,
    #3326a7,
    #1cfcb1,
    #633cf1
  );
  background-size: 500% 500%;
  animation: gradient-background 10s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.support-container {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Alinhando o container-primary à esquerda */
.container-primary {
  background-color: #037483;
  color: #fff;
  font-size: 14px;
  padding: 70px; /* Ajuste de padding para espaçamento interno */
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left; /* Alinha o texto à esquerda */
  margin: 10px 250px; /* Ajuste de margem superior/inferior */
  max-width: 340px; /* Controlando a largura do container */
  position: absolute;
  top: 100px; /* Controle a altura a partir do topo */
  left: 50px; /* Controle a distância da esquerda */
  display: flex; /* Usando flexbox para alinhamento */
  flex-direction: column; /* Certifique-se de que os textos estejam empilhados verticalmente */
  justify-content: center; /* Centraliza verticalmente os elementos */
}

h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  color: #7ad6fa;
  margin-bottom: 9px;
}

.right-section {
  max-width: 50%;
  flex-grow: 1;
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #555;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: rgb(51, 222, 228);
}

textarea {
  resize: none;
  height: 110px;
}

.submit-btn {
  background-color: #1f5369;
  color: #fff;
  border: none;
  padding: 12px 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #1b84b1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
