@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f8f9;
  padding: 20px;
}

nav.menu-lateral {
  width: 60px;
  height: 100%;
  background: linear-gradient(135deg, #1f5369, #48d1cc);
  padding: 10px 0 40px 1%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: shadowAnimation 3s infinite;
  z-index: 10;
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0px 0px 10px rgb(40, 248, 161);
  }
  33% {
    box-shadow: 0px 0px 20px rgb(24, 228, 255);
  }
  66% {
    box-shadow: 0px 0px 20px rgb(50, 115, 255);
  }
  100% {
    box-shadow: 0px 0px 10px rgb(40, 248, 161);
  }
}

.btn-expandir {
  width: 100%;
  padding-left: 1px;
  margin-bottom: 45px;
}

.btn-expandir > i {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

nav.menu-lateral:hover {
  width: 270px;
  transition: width 0.3s ease-in-out;
}

ul {
  height: 100%;
  list-style-type: none;
  padding: 10px 0;
}

ul li.item-menu {
  transition: background-color 0.3s, transform 0.3s;
}

ul li.item-menu:hover {
  background-color: #1f5369;
  border-radius: 8px;
}

ul li.item-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 2px;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
  transition: padding-left 0.3s ease-in-out;
}

ul li.item-menu a:hover {
  padding-left: 20px;
}

ul li.item-menu a .txt-link {
  margin-left: 35px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

nav.menu-lateral:hover ul li.item-menu a .txt-link {
  opacity: 1;
}

ul li.item-menu a .icon > i {
  font-size: 25px;
}

.perfil-container {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 50, 83, 0.1);
  border-radius: 10px;
  padding: 60px;
  width: 900px;
  height: 650px;
  margin: 20px;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.perfil-header {
  background: linear-gradient(135deg, #1f5369, #48d1cc);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 87px;
  margin-top: -25px;
}

.perfil-dados {
  margin-top: -50px;
  font-size: 17px;
  border: 1px solid #ccc; /* Borda geral do container */
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 50, 83, 0.1);
}

.dado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.dado:last-child {
  border-bottom: none; /* Remove a borda do último item */
}

label {
  font-weight: bold;
  color: #333;
}

#nome,
#email,
#senha,
#curriculo {
  font-weight: 500;
  color: #555;
  text-align: right;
}

button.btn-editar {
  background-color: #005d69;
  color: white;
  font-size: 17px;
  padding: 12px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
  transition: background 0.3s ease, transform 0.2s ease;
}

button.btn-editar:hover:hover {
  background-color: #017888;
  transform: scale(0.98);
}

/* Edição do currículo - lado direito */
.editar-curriculo {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
  width: 780px;
  box-shadow: 0 4px 10px rgba(0, 50, 83, 0.1);
}

.editar-curriculo h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.custom-file-upload {
  display: inline-block;
  padding: 15px 20px;
  background-color: #f0f0f0;
  color: #037483;
  border-radius: 10px;
  border: 2px dashed #037483;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.custom-file-upload:hover {
  background-color: #dafbff;
  border: 2px dashed #07a1b6;
  color: #0092a5;
}

.divisoria {
  width: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
